@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(229, 166, 58, 1);
  color: rgba(67, 25, 7, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 74px;
  background: rgba(235, 151, 76, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(235, 151, 76, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 26px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(235, 151, 76, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(67, 25, 7, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
.header-title {
  width: 273px;
  height: 24px;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 414px;
    height: 40px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 10px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    padding: 0px 10px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 608px;

  padding: 132px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40085\ \(1\).png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 14px;
}

.home-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
  padding: 10px;
  border-radius: 24px;
  background: rgba(241, 222, 187, 0.6);
  backdrop-filter: blur(20px);
  margin: 49px 0 18px;
}
.home__google-button_image {
  width: 363px;
  height: 76px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/1.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 872px;
    padding: 188px 72px 0px;
    background-image: url("/img/home/Frame\ 40086.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .home-title {
    font-family: Montagu Slab;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    padding: 0px;
    padding: 42px 0 0 57px;
    width: 582px;
  }

  .home-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -1px;
    width: 526px;

    padding: 0px;
    border-radius: 0px;
    background: transparent;
    backdrop-filter: blur(0px);
    margin: 66px 0 59px;
  }
}
.why {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0;
}

.why-list {
  padding: 32px 0 28px;
}
.why-lists {
  display: none;
}
.why-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/benefit\ 1.png");
  width: 343px;
  height: 132px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  margin: 0 10px;
}

.why-text-bold {
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -3%;
  display: flex;
  align-items: center;
  height: 62px;
}
.why-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/ph_cactus-light.png") no-repeat center/cover;
  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/ph_cactus-fill.png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 120px 72px 0;
  }

  .why-list {
    display: none;
  }
  .why-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .why-item {
    width: 416px;
    height: 161.51515197753906px;
    padding: 16px 10px 0 32px;
    margin: 0px;
  }

  .why-text-bold {
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    vertical-align: middle;
  }
  .why-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
    padding-top: 8px;
  }
}
.about {
  padding: 64px 16px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.about-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
.about-img {
  width: 343px;
  height: 192.9375px;
  border-radius: 24px;
}
.about-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 120px 72px 0;
    width: 1440px;
  }

  .about-title {
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    padding-top: 56px;
    align-items: center;
  }
  .about-img {
    width: 746px;
    height: 419px;
    border-radius: 24px;
  }
  .about-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
  }
}
.how {
  width: 375px;
  height: 958px;
  margin: 64px auto 0;
  padding: 0px 16px 0;
  position: relative;
  z-index: 2;
}

.how::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/Frame\ 40087.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  width: 343px;
  height: 113px;
  border-radius: 24px;
  padding: 16px;
  background: rgba(191, 201, 70, 1);
}

.how-text-bold {
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -3%;
}
.how-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -3%;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 722px;
    margin: auto;
    padding: 112px 72px 0;
    position: relative;
    z-index: 2;
  }

  .how::before {
    background-image: url("/img/Frame\ 40088.png");
  }

  .how-list {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 54px;
  }
  .how-item {
    width: 416px;
    height: 125px;
    border-radius: 24px;
    padding: 16px 0 0 16px;
  }

  .how-text-bold {
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
  }
  .how-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
  }
}

.reviews {
  width: 375px;
  margin: auto;
  padding: 0px 16px 0;
}

.reviews-list {
  padding: 32px 0 24px;
}
.reviews-item {
  margin: 0 10px;
  width: 343px;
  height: 117px;
  background: rgba(255, 187, 32, 1);
  transition: all 0.3s ease-in-out;
  border-radius: 24px;
  padding: 16px;
  border: 1px solid transparent;
}
.faq-item:hover {
  border: 1px solid rgba(253, 235, 26, 1);
}
.reviews-text-bold {
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -3%;
}
.reviews-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 80px 72px 0;
  }

  .reviews-list {
    padding: 56px 0 48px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 526px;
    height: 230px;
    border-radius: 24px;
    padding: 24px;
  }

  .reviews-text-bold {
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -3%;
  }
  .reviews-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;

    padding-top: 16px;
  }
}

.faq {
  padding: 0px 16px 0px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  width: 343px;
  border-radius: 24px;
  padding: 16px;
  background: rgba(255, 217, 20, 0.9);
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.faq-item:hover {
  border: 1px solid rgba(252, 199, 0, 1);
}
.faq-question {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 93px;
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -3%;
  vertical-align: middle;
}

.faq-answer {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
}
.faq-img {
  margin-left: 262px;
  margin-top: -80px;
  width: 97px;
  height: 145px;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 0px 72px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .faq-item {
    width: 416px;
    height: 308px;
    border-radius: 24px;
    padding: 24px;
  }

  .faq-question {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 93px;
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    vertical-align: middle;
  }

  .faq-answer {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -1px;
    padding-top: 12px;
  }
  .faq-img {
    width: 343px;
    height: 499px;
    margin-left: 1025px;
    margin-top: -440px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 64px 16px 80px;
}

.gallery__list {
  padding: 32px 0 24px;
}
.gallery__item {
  width: 343px;
  height: 193.0189971923828px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    padding: 120px 72px 60px;
  }

  .gallery__item {
    width: 856px;
    height: 482px;
  }

  .gallery__list {
    padding: 56px 0 48px;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 64px 16px 0px;
}

.features-list {
  padding: 32px 0 24px;
}
.features-lists {
  display: none;
}
.features-item {
  width: 343px;
  height: 312px;
  padding: 16px;
  border-radius: 24px;
  background: rgba(255, 187, 32, 1);
  margin: 0 10px;
}
.features-img {
  width: 311px;
  height: 174.9375px;
  border-radius: 24px;
}
.features-text-bold {
  font-family: Montagu Slab;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -3%;
  vertical-align: middle;
  padding: 16px 0 12px;
}
.features-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -3%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 120px 72px 0px;
  }

  .features-list {
    display: none;
  }
  .features-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .features-item {
    width: 416px;
    height: 416px;
    padding-top: 24px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 24px;

    margin: 0px;
  }
  .features-img {
    width: 372px;
    height: 209px;
    border-radius: 24px;
  }
  .features-text-bold {
    font-family: Montagu Slab;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -3%;
    vertical-align: middle;
    height: 62px;
    padding: 0;
    margin: 16px 0 12px;
    display: flex;
    align-items: center;
  }
  .features-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -3%;
  }
}
.footer {
  width: 375px;
  height: 162px;
  padding: 32px;
  margin: auto;
  background: rgba(235, 151, 76, 1);
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.footer-text {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: rgba(67, 25, 7, 1);
}

.footer-copyright {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 10px;
}

@media screen and (min-width: 1200px) {
  .footer {
    width: 1440px;
    height: 118px;

    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
    padding-left: 32px;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .footer-text {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 60px;
}
.policy-terms-title {
  font-family: Montagu Slab;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Montagu Slab;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 186px 72px 80px;
  }
  .policy-terms-title {
    font-family: Montagu Slab;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
    text-align: center;
  }

  .policy-terms-text {
    font-family: Montagu Slab;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: -3%;
  }
  .policy-terms-text-one {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: -3%;
    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: -3%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    letter-spacing: -3%;
  }
}
.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  border-radius: 24px;
  padding: 16px;
  background: rgba(253, 198, 116, 1);

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(67, 25, 7, 1);
}
.cookie-button-container {
  padding: 0px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: 1px solid rgba(249, 135, 22, 1);
  background-color: transparent;
  width: 160px;

  padding-top: 8px;

  padding-bottom: 8px;
  font-family: Montagu Slab;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;

  color: rgba(67, 25, 7, 1);
  border-radius: 14px;
}
#accept-cookies {
  color: rgba(4, 5, 45, 1);
  border: none;
  background: linear-gradient(180deg, #6ed051 0%, #99e862 100%);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Montagu Slab;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }
  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 400px;
  }
}
